body{
    background-color: #1E3A8A;
}
.formular{
    background-color: rgba(240, 239, 239, 0.955);
  width: 400px;
  border-radius: 15px;
  margin-top: 35px;
  margin-left: 400px;
  
  border: 20px blacks;
}
.form{
    background-color: #1E3A8A;
}